body {
    background-color: #fbfdfc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
}
header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
h1 {
    text-align: center;
    line-height: 1.1;
    margin-block: 2rem;

    font-size: clamp(4rem, 6vw, 7.5rem);
}
h2 {
    color: #cb731c;
    margin: 0;
    padding: 0;
    font-size: clamp(2rem, 2.5vw, 3rem);
}

footer {
    background-color: #22476c;
    color: #fff;
    margin-block: 4rem;
    padding: 0.2rem;
    text-align: center;
}
p {
    margin-block: 1.5rem;
}
.teal-text {
    color: #087A98;
}
.teal-background {
    background-color: #087A98;
    color: #ffffffcc;
    padding-block: 0.5rem;
    padding-inline: 0.8rem;
    text-align: center;
    border: 5px solid #0b4a5a;
}
.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}
.primary-navigation ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.primary-navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
img {
    max-width: 100%;
}
a {
    color: #09ae48a2;
}
a:hover,
a:focus-visible {
    color: #5f9b9f
}
.two-item-layout {
    margin-block: 3rem;

    @media (min-width: 720px) {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
    }
}
.two-item-layout img {
    display: block;
    margin-inline: auto; /* centers horizontally */
    margin-block: 1rem;
}
.background {
    background-image: url('../images/simple-steps.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 2rem;
}
.background h2 {
    color: #fff;
}